[[source]]

url = "http://pypi.douban.com/simple"
verify_ssl = false
name = "douban"


[dev-packages]



[packages]

flask = "==0.12.2"
markupsafe = "==1.0"
werkzeug = "==0.13"
"jinja2" = "==2.10"
itsdangerous = "==0.24"
click = ">=5.0"
flask-sqlalchemy = "==2.3.2"
"psycopg2" = "==2.7.3.2"
sqlalchemy = "==1.1.15"
pymysql = "==0.6.7"
flask-migrate = "==2.1.1"
flask-wtf = "==0.14.2"
wtforms = "==2.1"
gunicorn = ">=19.1.1"
flask-webpack = "==0.1.0"
flask-login = "==0.4.1"
flask-bcrypt = "==0.7.1"
flask-caching = ">=1.0.0"
flask-debugtoolbar = "==0.10.1"
flask-admin = "*"
celery = "==3.1.18"
flask-celery-helper = "==1.1.0"
